<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>

<body>
    <h1>This is home page</h1>
    <h1><%= 2 * 5 %></h1>
    <h1><%= ["banana", "apple", "mango"][0] %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet voluptate, inventore repellendus, iste molestias
        aut molestiae exercitationem excepturi blanditiis reprehenderit dolor. Quaerat saepe sed quidem commodi dolor
        ullam quae libero, ab impedit in perferendis incidunt. Alias cum fugit repellendus beatae mollitia sunt
        consequuntur perferendis maxime, corrupti ut? Beatae, totam neque.
    </p>

    <button>Click Me</button>
</body>

</html>